<mat-card class="todo-card mat-elevation-z8">
    <mat-card-header class="actions-header">
        <mat-card-title>Tasks</mat-card-title>
        <button mat-raised-button color="primary" (click)="goToNewTodo()" matTooltip="Create new task">
            <mat-icon>add</mat-icon>
            New Task
        </button>
    </mat-card-header>
    <mat-card-content>
        <table mat-table [dataSource]="todos$" class="todo-table">

            <!-- Title Column -->
            <ng-container matColumnDef="title">
                <th mat-header-cell *matHeaderCellDef> Title </th>
                <td mat-cell *matCellDef="let todo"> {{ todo?.title }} </td>
            </ng-container>

            <!-- Description Column -->
            <ng-container matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description </th>
                <td mat-cell *matCellDef="let todo"> {{ todo?.description }} </td>
            </ng-container>

            <!-- Status Column -->
            <ng-container matColumnDef="status">
                <th mat-header-cell *matHeaderCellDef> Status </th>
                <td mat-cell *matCellDef="let todo">
                    {{ statusLabels[todo?.status] }}
                </td>
            </ng-container>

            <!-- Priority Column -->
            <ng-container matColumnDef="priority">
                <th mat-header-cell *matHeaderCellDef> Priority </th>
                <td mat-cell *matCellDef="let todo">
                    {{ priorityLabels[todo?.priority] }}
                </td>
            </ng-container>

            <!-- CreatedAt Column -->
            <ng-container matColumnDef="createdAt">
                <th mat-header-cell *matHeaderCellDef> Created At </th>
                <td mat-cell *matCellDef="let todo"> {{ todo?.creationDate | date }} </td>
            </ng-container>

            <!-- assignee Column -->
            <ng-container matColumnDef="assignee">
                <th mat-header-cell *matHeaderCellDef> Assignee </th>
                <td mat-cell *matCellDef="let todo"> {{ todo?.assignee }} </td>
            </ng-container>

            <!-- Actions Column -->
            <ng-container matColumnDef="actions">
                <th mat-header-cell *matHeaderCellDef> </th>
                <td mat-cell *matCellDef="let todo">
                    <button mat-icon-button color="primary" (click)="editTodo(todo.id)" matTooltip="Edit task">
                        <mat-icon>edit</mat-icon>
                    </button>
                    <button mat-icon-button color="warn" (click)="deleteTodo(todo.id)" matTooltip="Delete task">
                        <mat-icon>delete</mat-icon>
                    </button>
                </td>
            </ng-container>

            <!-- Header and Row Definitions -->
            <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
        </table>
    </mat-card-content>
</mat-card>